.App {
  text-align: center;
}

.App-link {
  color: #61dafb;
}

.button, .standard-button {
  font-size: 30px;
  text-decoration: none;
  border: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 6px 30px 6px 30px;
  margin: 30px;
}

.button:hover, button:hover {
  text-decoration: none;
  background-color: #333333;
  color: #EEEEEE;
}

.song-icon {
  max-height: 100px;
}

table, th, td {
  border: 1px solid black;
  border-color: gray;
}

table {
  margin: 30px;
}

.playlist-container {
  display: flex;
  justify-content: center;
}

.home-container, .login-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.login-form {
  margin: 30px;
}

label {
  margin: 10px;
}